<link rel="stylesheet" href="users-form.component.css">
<div class="modal-form-users">
  <form [formGroup]='formuser' (ngSubmit)="save_users()">
    <mat-dialog-content class="mat-typography">
      <mat-card>
        <mat-card-title class="title-card">{{isEdit ? 'Edit' : 'Add'}} Users</mat-card-title>
        <mat-card-content class="content-card">
          <div *ngIf="isEdit==true">
            <mat-form-field>
              <mat-label>ID User</mat-label>
              <input type="text" matInput formControlName="id">
            </mat-form-field>
          </div>
          <div class="input-container1">
            <mat-form-field class="input-name">
              <mat-label>Name</mat-label>
              <input type="text" matInput placeholder="Jesus" formControlName="name">
            </mat-form-field>
            <mat-form-field class="input-lastname">
              <mat-label>Lastname</mat-label>
              <input type="text" matInput placeholder="Garizao" formControlName="lastname">
            </mat-form-field>
          </div>
          <div class="input-containe2">
            <div *ngIf="isEdit==true">
              <mat-form-field class="input-password">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="***********" formControlName="password">
              </mat-form-field>
              <mat-form-field class="input-checkpassword">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="example@gmail.com" formControlName="email">
              </mat-form-field>
            </div>
            <div *ngIf="isEdit==false">
              <mat-form-field class="input-email">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="example@gmail.com" formControlName="email">
              </mat-form-field>
              <mat-form-field class="input-password">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="***********" formControlName="password">
              </mat-form-field>
              <mat-form-field class="input-checkpassword">
                <mat-label>Checkpassword</mat-label>
                <input type="password" matInput placeholder="***********" formControlName="checkpassword">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="button-cancel">Cancel</button>
      <button mat-button type="submit" mat-button class="button-save" [disabled]="formuser.invalid" [mat-dialog-close]="true">{{isEdit ? 'Edit' : 'Add'}}</button>
    </mat-dialog-actions>
  </form>
</div>
