.modal-form-users{
  width: 500px;
}
.input-email{
  width: 100%;
}
.input-container1 .input-name + .input-lastname {
  margin-left: 8px;
  width: auto;
}
.input-containe2 .input-password + .input-checkpassword {
  margin-left: 8px;
  width: auto;
}
.input-lastname, .input-name, .input-password, .input-checkpassword{
  width: 50%;
}
.button-actions{
  text-align: right;
}
.title-card{
  padding: 5%;
}
.content-card{
  padding: 5%;
}
.button-save{
  background-color: #28a745;
  color: #fff;
}
.button-cancel{
  color: #000000;
  background-color: #FFFFFF;
}
