<div class="body">

  <div class="login">
    <div class="input-container">
      <img [src]="logo" alt="" width="20%" height="40%" class="img_register">
      <p class="h1_register">Register</p>
    </div>
    <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput #input placeholder="Ex. Jesus">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput #input placeholder="Ex. Mejia">
      </mat-form-field>
    </div>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput  autocomplete="off" placeholder="Ex. jesu.11@gmail.com">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput  autocomplete="off">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput  autocomplete="off">
    </mat-form-field>
    <br>
    <button  class="ancho2" mat-raised-button mat-button color="primary">Sign In</button>
    <br><br>
  </div>
</div>
