<form [formGroup]='form' (ngSubmit)="ingresar()">
  <mat-card>
    <mat-card-title class="title-card">Add/Edit</mat-card-title>
    <div class="slide-toggles-form">
      <mat-slide-toggle>Active</mat-slide-toggle>
    </div>
    <mat-card-content class="content-card">
      <mat-form-field class="input-id">
        <mat-label>Enter you ID</mat-label>
        <input type="number" matInput placeholder="123456789" formControlName="id">
      </mat-form-field>
      <div class="input-container">
        <mat-form-field class="input-name">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Jesus" formControlName="name">
        </mat-form-field>
        <mat-form-field class="input-code">
          <mat-label>Code</mat-label>
          <input type="text" matInput placeholder=a1b2c3d4 formControlName="code">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="button-actions">
      <button type="submit" mat-button class="button-save" [disabled]="form.invalid">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
