<p>
  <mat-toolbar>
    <span class="info-page">Device Information</span>
    <button mat-raised-button class="buton-edit" (click)="fuctionadd()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </mat-toolbar>
</p>
<mat-tab-group>
  <mat-tab label="Computers">
    <div class="container-inventory">
      <app-inventory-grid></app-inventory-grid>
    </div>
  </mat-tab>
  <mat-tab label="Monitors">
    <div class="container-inventory">
      <app-inventory-grid></app-inventory-grid>
    </div>
  </mat-tab>
  <mat-tab label="Keyboard and mouse">
    <div class="container-inventory">
      <app-inventory-grid></app-inventory-grid>
    </div>
  </mat-tab>
  <button mat-raised-button class="buton-back">
    <mat-icon>add</mat-icon>
    Back
  </button>
</mat-tab-group>
