.button-add{
  margin-right: 0.5%;
  background-color: #28a745;
  color: #FFFFFF;
}
.button-edit{
  margin-right: 0.5%;
  margin-left: 0.5%;
  background-color: #fdc02e;
  color: #000000;
}
.button-delete{
  margin-right: 0.5%;
  margin-left: 0.5%;
  background-color: #d93648;
  color: #FFFFFF;
}
.button-selec{
  margin-left: 0.5%;
  color: #000000;
  background-color: #FFFFFF;
}
