<div class="body-login">
  <div class="container-login">
    <img [src]="logo" class="img_logo_login">
    <h1>Iniciar Sesion</h1>
    <div class="form-login">
      <mat-form-field class="input-login" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="user" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="input-login" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [(ngModel)]="password" autocomplete="off">
      </mat-form-field>
    </div>
    <button (click)="verificar()" class="button-login" mat-raised-button mat-button>Entrar</button>
  </div>
</div>
