.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://img.freepik.com/vector-premium/mujer-almacen-comprobando-niveles-inventario-mercancias-estanteria_327176-153.jpg?w=2000");
  height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.ancho {
  width: 80%;
  border-radius: 50px;
}

.button_2{
  border-radius: 50px;
  margin-left: 5%;
}
